
.form-style-4{
	max-width: 550px;
	margin:10px auto;
	font-size: 16px;
	background: #EBEBEB;
	padding: 30px 30px 15px 30px;
	border: 5px solid #002306;
	background:rgba(100,100,100, 0.3);

}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;

}
.form-style-4 label {
	display:block;
	margin-bottom: 10px;
}
.form-style-4 label > span{
	display: inline-block;
	float: left;
	width: 75px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=date],
.form-style-4 input[type=datetime],
.form-style-4 input[type=number],
.form-style-4 input[type=search],
.form-style-4 input[type=time],
.form-style-4 input[type=url],
.form-style-4 input[type=email] 
{
	background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 300px;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-style: italic;
}
.form-style-4 textarea{
	font-style: italic;
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	overflow: hidden;
	resize:none;
	height:20px;
}

.form-style-4 textarea:focus, 
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=date]:focus,
.form-style-4 input[type=datetime]:focus,
.form-style-4 input[type=number]:focus,
.form-style-4 input[type=search]:focus,
.form-style-4 input[type=time]:focus,
.form-style-4 input[type=url]:focus,
.form-style-4 input[type=email]:focus
{
	border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{

	background: #707371;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: white;
	 margin-left: 350px;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #01A71E;
}